.c8rc
.editorconfig
.eslintrc.cjs
.gitattributes
.github/
.jsdoc.conf
.vscode/
*.peggy
*.pegjs
*.tgz
cli/
coverage/
docs/
eslint.config.js
lib/libexpat/
lib/xpathPattern.pegjs
node_modules/
npm-debug.log
test/
tmp/
tsconfig.json
wasm/
